<!DOCTYPE html>
<html>
  <head>
    <title>Prompt</title>
    <meta charset="utf-8">
    <link rel="text/stylesheet" href="stylesheets/style.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <script type="text/javascript" src="scripts/scripts.js"/>

  </head>
  
  <body>
    {{{body}}}
  </body>
</html>
